/* src/index.css */
html, body, #root, .App {
  height: 100vh !important;
  width: 100vw !important;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; /* Biar keliatan kalau ini bukan layar kosong */
}

.leaflet-container {
  height: 100% !important;
  width: 100% !important;
}